.row.justify-content-between.align-items-center.text-light(style='background-color:#282424;')
  .col-md-2.m-2
    a(href="/", style='text-decoration:none; color:white;')
      h4 RMUTSB
  .col-md-6.d-flex.justify-content-center
    a.m-3.nav-link(href="/") หน้าแรก
    a.m-3.nav-link(href="") ค้นหา
    a.m-3.nav-link(href="/book") ลงทะเบียนปริญญานิพนธ์
    a.m-3.nav-link(href="/about") เกี่ยวกับระบบ
  .col-md-2.text-end.m-2
    .dropdown
      if user
        button.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
          user #{user.firstname}
        ul.dropdown-menu
          li
            a.dropdown-item(href='/user') ข้อมูลสมาชิก
          li
            a.dropdown-item(href='/status') เช็คสถานะการลงทะเบียน
          li
            a.dropdown-item(href='/manage') จัดการข้อมูลผู้ดูแลระบบ
          li
            a.dropdown-item.text-danger(href='/logout') ออกจากระบบ
      else
          a.btn.btn-secondary(href="/login") เข้าสู่ระบบ


