div(style='background-color:#2759be;')
  .container
    .d-flex.justify-content-between.align-items-center
      a(href="/", style='text-decoration:none; color:white;')
            img(src="/ruslogo.png" style="width:148px", alt="")
      .d-flex.justify-content-center.align-items-center
          a.nav-link.text-center.m-3.text-light(href="/")
            h5 หน้าแรก
          a.nav-link.text-center.m-3.text-light(href="/search")
            h5 ค้นหา
          a.nav-link.text-center.m-3.text-light(href="/book")
            h5 ลงทะเบียนเล่ม
          a.nav-link.text-center.m-3.text-light(href="/about")
            h5 เกี่ยวกับระบบ
          if user
            if user.admin
              a.nav-link.text-center.m-3.text-light(href="/managefac")
                h5 จัดการข้อมูล
            if !user.admin
              a.nav-link.text-center.m-3.text-light(href='/status')
                h5 เช็คสถานะ
            if user.teacher
              a.nav-link.text-center.m-3.text-light(href='/manageapprove')
                h5 การอนุมัติ
      if user
        div
          a.btn.btn-primary.m-2(href='/user') #{user.firstname}
          a.btn.btn-danger.m-2(href='/logout') ออกจากระบบ
        ul.dropdown-menu
          li
            a.dropdown-item(href='/status') เช็คสถานะการลงทะเบียน
          if user.admin
            li
              a.dropdown-item(href='') จัดการข้อมูลผู้ดูแลระบบ
          li
      else
        div
          a.btn.btn-primary.m-2(href="/login") เข้าสู่ระบบ
          a.btn.btn-primary.m-2(href="/registerout") สมัครสมาชิก



