extends layout/main
block content
  .container.mt-3
    .card
      .card-body
        h1.text-center เกี่ยวกับระบบ
        h5 บัณฑิตวิทยาลัย ร่วมกับสำนักดิจิทัลเพื่อการศึกษา มหาวิทยาลัยราชมงคลสุวรรณภูมิ พัฒนาระบบสารสนเทศเพื่อบริหารจัดการข้อมูลอาจารย์ที่ปรึกษาวิทยานิพนธ์ โดยระบบดังกล่าวสามารถให้สารสนเทศเพื่อประกอบการตัดสินใจของผู้บริหาร และผู้ปฎิบัติงานในเรื่องที่เกี่ยวข้อง มีผู้ที่เกี่ยวข้องกับระบบได้แก่ ผู้บริหาร อาจารย์ที่ปรึกษา นักศึกษา คณะกรรมการสอบ ตลอดจนเจ้าหน้าที่ของบัณฑิตวิทยาลัย
        h4.mt-3 รายชื่อผู้จัดทำ
        h5.mt-3 อาจารย์ที่ปรึกษา:
        p ชื่อ - สกุล:อาจารย์นุชรัตน์
        p ชื่อ - สกุล:อาจารย์มงคล
        h5 พัฒนาระบบ:
        p ชื่อ - สกุล:นายพัชรพล ห่วงไทย
        p ชื่อ - สกุล:นายภูริน ชาติดร
