extends layout/main
block content
  div.container-fluid(style="background-color: #3838c8;  width:100%; height:100%")
    .container
      include components/alert
    .container.d-flex.justify-content-center.align-items-center
      img(src="index.png" style="width:68.125rem", alt="")
  .container.mt-3
    .card.mt-3
      .card-body
        form
          input.form-control(type="text", name="",placeholder="ค้นหาเลย")
          .row.mt-3
            .col-md-6
              select#autoSizingSelect.form-select(name='faculty')
                option(selected='') เลือกคณะ
                option(value='คณะครุศาสตร์อุตสาหกรรม') คณะครุศาสตร์อุตสาหกรรม
                option(value='คณะเทคโนโลยีการเกษตรและอุตสาหกรรมเกษตร') คณะเทคโนโลยีการเกษตรและอุตสาหกรรมเกษตร
                option(value='คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ') คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ
                option(value='คณะวิทยาศาสตร์และเทคโนโลยี') คณะวิทยาศาสตร์และเทคโนโลยี
                option(value='คณะวิศวกรรมศาสตร์และสถาปัตยกรรมศาสตร์') คณะวิศวกรรมศาสตร์และสถาปัตยกรรมศาสตร์
                option(value='คณะศิลปศาสตร์') คณะศิลปศาสตร์
            .col-md-6
             select#autoSizingSelect.form-select(name='branch')
                option(selected='') เลือกสาขา
                option(value='ระบบสารสนเทศ') ระบบสารสนเทศ
                option(value='บัญชี') บัญชี
                option(value='...') ...
          input.btn.btn-success.mt-2(type="button", value="ค้นหา")
    .row
      .col-md-6.mt-3
        ul.list-group
          li.list-group-item.list-group-item-info
            h4 อาจารย์ที่ปรึกษา
          each teacher in teachers
            li.list-group-item
              a(href="/")=teacher.firstname+' '+teacher.lastname
      .col-md-6.mt-3
        ul.list-group
          li.list-group-item.list-group-item-info
            h4 หมวดหมู่ปริญญานิพนธ์
          each category in categorys
            li.list-group-item
              a(href="/")=category.name

    .row.justify-content-evenly
      .col-md-3.text-center.card.mt-3
        .card-body
          .d(style='height:250px')
            img.img-thumbnail(src="/student.png" style="width:170px", alt="" )
          h1.card-title นักศึกษา
          p.card-text จัดเก็บประวัตินักศึกษา บัณฑิตมหาวิทยาลัยราชมงคลสุวรรณภูมิ ที่จัดทำวิทยานิพนธ์หรือการค้นคว้าอิสระ พร้อมรายการความก้าวหน้าในการดำเนินการจัดสอบ
      .col-md-4.text-center.card.mt-3
        .card-body
          .d-flex.align-items-center(style='height:250px')
            img.img-thumbnail(src="/teacher.png" style="width:400px", alt="")
          h1.card-title อาจารย์
          p จัดเก็บประวัติอาจารย์ที่ปรึกษา ประวัติการเป็นอาจารย์ที่ปรึกษา ประวัติการศึกษา และประวัติความเชี่ยวชาญเพื่อเป็นฐานข้อมูลในการตัดสินใจในการเลือกอาจารย์ที่ปรึกษา
      .col-md-3.text-center.card.mt-3
        .card-body
          .d-flex.align-items-center(style='height:250px')
            img.img-thumbnail(src="/thesis.jpg" style="width:350px", alt="")
          h1.card-title ปริญญานิพนธ์
          p จัดเก็บหัวข้อวิทยานิพนธ์ ผู้จัดทำ อาจารย์ที่ปรึกษา คณะกรรมการสอบ วันที่สอบโครงร่าง และวันที่สอบจบ

