extends layout/main
block content
  div.d-flex.justify-content-center.align-items-center(style="background-color: #3838c8;  width:1900px; height:559px")
    div
      img(src="index.png" style="width:1090px", alt="")
  .container.mt-3
    include components/alert
    .card.mt-3
      .card-body
        form
          input.form-control(type="text", name="",placeholder="ค้นหาเลย")
          .row.mt-3
            .col-md-6
              select#autoSizingSelect.form-select(name='faculty')
                option(selected='') เลือกคณะ
                option(value='คณะครุศาสตร์อุตสาหกรรม') คณะครุศาสตร์อุตสาหกรรม
                option(value='คณะเทคโนโลยีการเกษตรและอุตสาหกรรมเกษตร') คณะเทคโนโลยีการเกษตรและอุตสาหกรรมเกษตร
                option(value='คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ') คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ
                option(value='คณะวิทยาศาสตร์และเทคโนโลยี') คณะวิทยาศาสตร์และเทคโนโลยี
                option(value='คณะวิศวกรรมศาสตร์และสถาปัตยกรรมศาสตร์') คณะวิศวกรรมศาสตร์และสถาปัตยกรรมศาสตร์
                option(value='คณะศิลปศาสตร์') คณะศิลปศาสตร์
            .col-md-6
             select#autoSizingSelect.form-select(name='branch')
                option(selected='') เลือกสาขา
                option(value='ระบบสารสนเทศ') ระบบสารสนเทศ
                option(value='บัญชี') บัญชี
                option(value='...') ...
          input.btn.btn-success.mt-2(type="button", value="ค้นหา")
    .row.mt-3
      .col-md-6
        ul.list-group
          li.list-group-item.list-group-item-info
            h4 อาจารย์ที่ปรึกษา
          li.list-group-item
            a(href="/") คณะครุศาสตร์อุตสาหกรรม
          li.list-group-item
            a(href="/") คณะเทคโนโลยีการเกษตรและอุตสาหกรรมเกษตร
          li.list-group-item
            a(href="/") คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ
          li.list-group-item
            a(href="/") คณะวิทยาศาสตร์และเทคโนโลยี
          li.list-group-item
            a(href="/") คณะวิศวกรรมศาสตร์และสถาปัตยกรรมศาสตร์
          li.list-group-item
            a(href="/") คณะศิลปศาสตร์
      .col-md-6
        ul.list-group
          li.list-group-item.list-group-item-info
            h4 นักศึกษา
          li.list-group-item
            a(href="/") คณะครุศาสตร์อุตสาหกรรม
          li.list-group-item
            a(href="/") คณะเทคโนโลยีการเกษตรและอุตสาหกรรมเกษตร
          li.list-group-item
            a(href="/") คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ
          li.list-group-item
            a(href="/") คณะวิทยาศาสตร์และเทคโนโลยี
          li.list-group-item
            a(href="/") คณะวิศวกรรมศาสตร์และสถาปัตยกรรมศาสตร์
          li.list-group-item
            a(href="/") คณะศิลปศาสตร์
    .card.mt-3
      .card-body
        .row
          .col-md-3.text-center
            h1 นักศึกษา
            .d(style='height:250px')
              img.img-thumbnail(src="/student.png" style="width:170px", alt="" )
            p จัดเก็บประวัตินักศึกษา บัณฑิตมหาวิทยาลัยราชมงคลสุวรรณภูมิ ที่จัดทำวิทยานิพนธ์หรือการค้นคว้าอิสระ พร้อมรายการความก้าวหน้าในการดำเนินการจัดสอบ
          .col-md-1.d-flex.justify-content-center
            div(style='border-left: 3px solid purple;height: 410px;')
          .col-md-3.text-center
            h1 อาจารย์
            .d-flex.align-items-center(style='height:250px')
              img.img-thumbnail(src="/teacher.png" style="width:400px", alt="")
            p จัดเก็บประวัติอาจารย์ที่ปรึกษา ประวัติการเป็นอาจารย์ที่ปรึกษา ประวัติการศึกษา และประวัติความเชี่ยวชาญเพื่อเป็นฐานข้อมูลในการตัดสินใจในการเลือกอาจารย์ที่ปรึกษา
          .col-md-1.d-flex.justify-content-center
            div(style='border-left: 3px solid purple;height: 410px;')
          .col-md-3.text-center
            h1 ปริญญานิพนธ์
            .d-flex.align-items-center(style='height:250px')
              img.img-thumbnail(src="/thesis.jpg" style="width:350px", alt="")
            p จัดเก็บหัวข้อวิทยานิพนธ์ ผู้จัดทำ อาจารย์ที่ปรึกษา คณะกรรมการสอบ วันที่สอบโครงร่าง และวันที่สอบจบ

