extends layout/form

block content
    h1.text-center เข้าสู่ระบบ
    include components/alert
    form(action="/login", method="post")
      .form-floating
        input#floatingEmail.form-control(type='email' placeholder='name@example.com' name="email" required)
        label(for='floatingEmail') อีเมล
      .form-floating.mt-3
        input#floatingPassword.form-control(type='password' placeholder='***' name="password" required)
        label(for='floatingPassword') รหัสผ่าน
      .mt-2.text-center
        button.btn.btn-primary เข้าสู่ระบบ
        a.m-3(href="/register") สมัครสมาชิก.
    hr
    .text-center.d-flex.justify-content-evenly
      a.btn.btn-primary(href="/login/facebook")
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png" style="width:35px")
      a.btn.btn-light(href="/login/google")
        img(src="https://www.pngplay.com/wp-content/uploads/12/Google-PNG-Photos.png" style="width:35px")
