extends layout/main
block content
  .row
    .col-md-3
      include ./components/sidebar
      .sidebar
        a(href='/managebook') ข้อมูลปริญญานิพนธ์
        a(href='/managefac') ข้อมูลคณะ
        a(href='/manageteacher') ข้อมูลอาจารย์
        a(href='/manageuser') ข้อมูลสมาชิก
        a.active(href='/managedowload') ข้อมูลการดาวน์โหลด
        a(href='/managerefer') ข้อมูลการขอสิทธิ์
    .col-md-7
      .container
        .card.mt-3
          .card-body
            h1.text-center ข้อมูลการขอสิทธิ์อ้างอิงทั้งหมด
            -let i = 0
              table.table.mt-3
                thead
                  tr
                    th.text-center(scope='col') ลำดับ
                    th.text-center(scope='col') ชื่อเล่ม
                    th.text-center(scope='col') ชื่อจัดทำ
                    th.text-center(scope='col') จำนวนผู้ดาวน์โหลด
                tbody
                  each bookdowload in bookdowloads
                    if bookdowload.bookDowload[0]
                      -var d = new Date(bookdowload.createdAt)
                      -var momth = ['มกราคม','กุมภาพันธ','มีนาคม','เมษายน','มิถุนายน','กรกฎาคม','สิงหาคม','กันยายน','ตุลาคม','พฤศจิกายน','ธันวาคม']
                      -var time = d.getHours()+':'+d.getMinutes()
                      -var day = d.getDate()+' '+momth[(d.getMonth()-1)]+' '+d.getFullYear()
                      tr
                        th.text-center(scope='row')=i=i+1
                        td.text-center
                          a(href="")=bookdowload.bookname
                        td.text-center=bookdowload.firstname+' '+bookdowload.lastname
                        td.text-center
                          a(href="")=bookdowload.bookDowload.length
                        td.text-center
