extends layout/main
block content
  .container.mt-3
    .card
      .card-body
          h1.text-center สถานะการลงทะเบียน
          table.table
            thead
              tr
                th(scope='col') ลำดับ
                th(scope='col') ชื่อปริญญานิพนธ์
                th(scope='col') ผู้จัดทำ
                th(scope='col') สถานะ
            tbody
              -var i = 0
              each book in books
                tr
                  th(scope='row')=i+=1
                  td=book.bookname
                  td=user.firstname + " " + user.lastname
                  if book.approve
                    td.text-success อนุมัติแล้ว
                  else
                    td.text-warning รออนุมัติ



