extends _html

block body
  style.
    body, html {
    height: 100%;
    margin: 0;
    }
    .bg {
    background-image: url("https://rmutsb.ac.th/2011/upload2/files/logo_rmutsb_transparent(1).gif");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    }
  .bg
    .container.d-flex.min-vh-100.align-items-center.justify-content-center
      .card(style='width:600px')
        .card-body
          block content

