extends _html

block body
  .bg-dark.bg-gradient
    .container.d-flex.min-vh-100.align-items-center.justify-content-center
      .card(style='width:600px')
        .card-body
          block content

