extends _html

block body
  include ../components/navbar
  .container.mt-3
    .d-flex.justify-content-center
      img(src="/Login3.png" style=("width:400px"), alt="")
    .d-flex.justify-content-center.mt-4
      .card(style='width:600px')
        .card-body
          block content

